@import "~style/variables.styl"

.item-card
  border-radius 5px
  margin 1rem
  min-height 8rem
  display flex
  align-items center
  justify-content center
  background-color lighten($color-primary, 30%)
  color white